<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common/head.html" />
    <body class="bg-light">
		<header th:replace="common/header.html"></header>
        
        <main class="container-fluid">
            <div class="d-flex flex-column align-items-center">           
                <form id="UsersForm">
                    <div class="form-row">
                        <div class="form-group col-sm">
                            <label for="inputCount">Χρήστες ανά σελίδα</label>
                            <input type="number" class="form-control" id="inputCount" min="1"  th:value="${count}">
                        </div>
                        <div class="form-group col-sm">
                            <label for="selectStatus">Κατάσταση</label>
                            <select type="number" class="form-control" id="selectStatus">
                                <option value="ENABLED" th:selected="${status=='ENABLED'}">Ενεργοί</option>
                                <option value="DISABLED" th:selected="${status=='DISABLED'}">Ανενεργοί</option>
                                <option value="ALL" th:selected="${status=='ALL'}">Όλοι</option>
                            </select>
                        </div>
                        <div class="form-group col-sm">
                            <label for="selectSort">Ταξινόμηση κατά</label>
                            <select type="number" class="form-control" id="selectSort">
                                <option value="id|DESC" th:selected="${sort=='id|DESC'}">Φθίνων id</option>
                                <option value="id|ASC" th:selected="${sort=='id|ASC'}">Αύξων id</option>
                                <option value="username|DESC" th:selected="${sort=='name|DESC'}">Φθίνων όνομα</option>
                                <option value="username|ASC" th:selected="${sort=='name|ASC'}">Αύξων όνομα</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary col-sm">Περιήγηση Χρηστών</button>
                    </div>
                </form>

                <div id="outputDiv"></div>
            </div>
        </main>
        
        <footer th:replace="common/footer.html"></footer>

        <script th:insert="scripts/users.js"></script>
    </body>
</html>
